# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# exclude modules not part of my project scope
code/src/communication_interface.cpp
code/src/communication_interface.h
code/src/nfc_reader.cpp
code/src/nfc_reader.h

